.product__card-button{
    margin: 4px auto 150px auto;
    font-weight: 500;
}

@media screen and (max-width: 500px){
    .product__card-button{
        margin-bottom: 100px;
        font-family: "Roboto", Arial, sans-serif;
        font-weight: 400;
        margin-top: 30px;
    }
}


