.page{
    font-family: "Roboto", Arial, sans-serif;
    overflow: hidden;
    background-color: #f9f9f9;
}

@media screen and (max-width: 1170px){
    .page{
        
    }
    
}

@media screen and (max-width: 500px){
    .page{
        min-width: 320px;
    }
}