.product__subtitle-mobile{
    display: none;
}

@media screen and (max-width: 500px){
    .product__subtitle-mobile{
        display: block;
        text-align: center;
        margin: auto;
        width: 81.5%;
        font-size: 12px;
        color: rgb(143, 143, 143);
        line-height: 1.5; 
        margin-bottom: 30px;
    }
}