.hero__title{
    font-size: 44px;
    line-height: 1.318em;
    font-weight: 500;
}

@media screen and (max-width: 900px){
    .hero__title{
        font-size: 35px;
        line-height: 1.318em;     
    }
}
  

@media screen and (max-width: 600px){
    .hero__title{
        white-space: normal;
        text-align: center;
        font-size: 30px;
        line-height: 1.318em; 
    }
}