.button_active{
    border: 2px solid rgb(102, 178, 46); 
    border-radius: 10px;
    color: rgb(102, 178, 46);
}


@media screen and (max-width: 500px){
    .button_active{
        border: 0px;
        border-radius: 0px;
        color: rgb(102, 178, 46);
    }
}