@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../roboto/Roboto-Regular.woff2") format("woff2"),
       url("../roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../roboto/Roboto-Regular.woff2") format("woff2"),
       url("../roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../roboto/Roboto-Light.woff2") format("woff2"),
       url("../roboto/Roboto-Light.woff") format("woff");
}