.product__card{
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
}

@media screen and (max-width: 500px){
    .product__card{
        flex-direction: row;
        margin-bottom: 30px;
    }
}