.product__sections{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
}

@media screen and (max-width: 500px){
    .product__sections{
        margin-bottom: 20px;
    }
}