.product__card-title{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.455;
}

@media screen and (max-width: 500px){
    .product__card-title{
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }
}