.product__cards{
    display: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 360px);
    width: 100%;
    gap: 30px;
    margin-bottom: 35px;
}

@media screen and (max-width: 500px){
    .product__cards{
        margin-left: 3%;
        grid-template-columns: repeat(auto-fill, 100%);
        gap: 20px;
    }
}